.ban-dev-grid
  .ban-container()
    .ban-row
      .ban-col-md-1
        div
      .ban-col-md-1
        div
      .ban-col-md-1
        div
      .ban-col-md-1
        div
      .ban-col-md-1
        div
      .ban-col-md-1
        div
      .ban-col-md-1
        div
      .ban-col-md-1
        div
      .ban-col-md-1
        div
      .ban-col-md-1
        div
      .ban-col-md-1
        div
      .ban-col-md-1
        div
header
  .ban-container
    .ban-row
        .menu-sec-a.ban-col-md-2.ban-col-lg-3
          h1#logo-banchile
            img(src='assets/img/logo.png')
        .menu-sec-b.ban-col-md-8.ban-col-lg-7
          .ban-row
            .nav.ban-col-md-12
              ul
                li
                  a(href="#")
                    i.fa.fa-home
                li
                  a(href="#") PERSONAS
                li
                  a(href="#") EMPRESAS
                li
                  a(href="#") INSTITUCIONES
                li
                  a(href="#") ASSET MANAGEMENT
            nav.ban-col-md-12
              ul
                li
                  a(href="#") Invierte con un experto 
                    i(class="fa fa-chevron-down")
                li
                  a(href="#") Con nuestros servicios 
                    i(class="fa fa-chevron-down")
                li
                  a(href="#") Cumple tus objetivos financieros 
                    i(class="fa fa-chevron-down")
        .menu-sec-c.ban-col-md-2
          form.busqueda
            #container-busqueda
              input(type='text')
              i.fa.fa-search
          #login-box
            p Ingresa a tu cuenta 
              i(class="fa fa-chevron-down")
            .icon-bullet  
              i.fa.fa-user
            #box-login
              span.triangulo-sup
              span.triangulo-sup-fix
              div.ban-container-fluid
                .ban-row
                  .ban-col-md-6
                    .text-center
                      h4 ¿Aun no eres cliente?
                      button.ban-btn.ban-btn-default Incorporate Aquí
                      p.cant-help ¿Necesitas Ayuda?
                      a(href="#") 800202820
                  .ban-col-md-6.text-center
                    form
                      .ban-form-control.form-icon
                        .fa.fa-lock
                        input(class=".ban-form-control" type="text")
                      .ban-form-control.form-icon
                        .fa.fa-user
                        input(class="input-100" type="password")
                      .form-group
                        input(class="ban-btn ban-btn-primary" type="submit" value="Ingresar")
                      .remember-pass
                        a(href="#") ¿Olvidaste tu clave?
                .ban-clearfix
                hr
                .ban-row  
                    ul.ban-col-md-6
                      li
                        a(class="title-link" href="#") Resumen de Empresas
                      li
                        a(class="title-link" href="#") Asesoría
                        ul
                          li
                            a(href="#") Asset Allocation
                          li
                            a(href="#") Informes de Estrategia
                          li
                            a(href="#") Avisos y Recomendaciones
                      li
                        a(href="#") Operación
                        ul
                          li
                            a(href="#") Operar Productos
                          li
                            a(href="#") Alertas de Operación
                          li
                            a(href="#") Administrar Destinatarios
                          li
                            a(href="#") Inscribir Instrucciones
                    ul.ban-col-md-6
                      li
                        a(href="#") Banchile Pay
                      li
                        a(href="#") Simuladores y Demos
                      li
                        a(href="#") Consultas y Búsquedas
                        ul
                          li
                            a(href="#") Mis Operaciones
                          li
                            a(href="#") Mis Documentos
                      li
                        a(href="#") Mis Datos 
                        ul
                          li
                            a(href="#") Modificar Datos
                          li
                            a(href="#") Perfiles
                          li
                            a(href="#") Administrar Usuarios
                    .ban-clearfix
.menu-privado
  .ban-container
    .ban-row
      .ban-col-md-12
        nav
          ul
            li
              a(href="#") Resumen de Empresas
            li
              a(href="#") Asesoría
            li
              a(href="#") Intrucción y Operación
            li
              a(href="#") Banchile Pay
            li
              a(href="#")
                .fa.fa-cog
.breadcrum
  .ban-container
    .ban-row
      .ban-col-md-12
        nav
          ul
            li
              a(href="#") Resumen de Empresas
            li
              a(href="#") Asesoría
            li
              a(href="#") Intrucción y Operación
            li
              a(href="#") Banchile Pay
            li
              span Vista
        
