section#home
      .ban-container
        .ban-row
          .ban-col-xs-5
            h2
              | Invierte en más 
              span tiempo para ti
            p Sabemos lo que necesitas para alcanzar tus metas empresariales
            // 
            #carrusel.ban-carousel.ban-slide(data-ban-ride='ban-carousel')
              // Indicators
              ol.ban-carousel-indicators
                li.ban-active(data-ban-target='#ban-carousel-example-generic', data-ban-slide-to='0')
                li(data-ban-target='#ban-carousel-example-generic', data-ban-slide-to='1')
                li(data-ban-target='#ban-carousel-example-generic', data-ban-slide-to='2')
              // Wrapper for slides
              .ban-carousel-inner(role='listbox')
                .ban-item.ban-active
                  img.ban-img-responsive(height='', src='assets/img/slider1.png', alt='Campaña item primero')
                  .ban-carousel-caption
                    h3 Titulo de la campaña
                .ban-item
                  img.ban-img-responsive(src='assets/img/slider2.png', alt='Campaña item segundo')
                  .ban-carousel-caption
                    h3 Titulo de la campaña
                .ban-item
                  img.ban-img-responsive(src='assets/img/slider3.png', alt='Campaña item tercero')
                  .ban-carousel-caption
                    h3 Titulo de la campaña
              // Controls
              a.ban-left.ban-carousel-control(href='#carrusel', role='button', data-slide='prev')
                span(aria-hidden='true')
                  i.fa.fa-chevron-left
              a.ban-right.ban-carousel-control(href='#carrusel', role='button', data-slide='next')
                span(aria-hidden='true')
                  i.fa.fa-chevron-right
            // 
    #indicadores
      .ban-container
        .ban-row
          .ban-col-xs-12
            ul
              li
                | Dólar
                a(href='#')
                  i.fa.fa-sort-asc
                  |  127.02 2.7%
              li
                | Euro
                a(href='#')
                  i.fa.fa-sort-asc
                  |  127.02 2.7%
              li
                | IPSA
                a(href='#')
                  i.fa.fa-sort-asc
                  |  127.02 2.7%
              li
                | S&P 500
                a(href='#')
                  i.fa.fa-sort-asc
                  |  127.02 2.7%
              li
                | IGBVL
                a(href='#')
                  i.fa.fa-sort-asc
                  |  127.02 2.7%
              li
                a.ver(href='#') Ver más
    #app
      .ban-container
        .ban-row
          .ban-col-xs-5
            img(src='assets/img/smarphone.png', alt='App mis inversiones')
          .ban-col-xs-5.ban-col-xs-offset-2
            h2
              | Invierte con 
              span un experto
            p
              | Nos mueve la innovación y por ello hemos desarrollado una nueva aplicación parabr
              br
              br
              span
                | Podrás aprobar transferencias, firmar contratos y validar operaciones en cualquier momento y lugar.
            a(href='#')
              | Ver más 
              i.fa.fa-angle-right
            .descarga
              a(href='#')
                img(src='assets/img/app_store.png', alt='')
              a(href='#')
                img(src='assets/img/google_play.png', alt='')
    section#premios
      .ban-container
        .ban-row
          .ban-col-xs-5
            h2
              | Lideres 
              span en el mercado
            p.respaldo
              | Más de 30 años de trayectoria, contamos con toda la seguridad, solidez y respaldo de ser filial del Banco de Chile.
            a(href='#')
              | Ver más 
              i.fa.fa-angle-right
          .ban-col-xs-5.ban-col-xs-offset-2
            h3 Premios y reconocimientos 2015
            .premio-detalle.ban-row
              .ban-col-xs-3
                img.ban-img-responsive(src='assets/img/great-place.png', alt='premio salmón')
              .ban-col-xs-8.ban-col-xs-offset-1
                h4 Great Place to Work
                p Nuevamente entre las mejores empresas para trabajar según el ranking de GPTW.
            .premio-detalle.ban-row
              .ban-col-xs-3
                img.ban-img-responsive(src='assets/img/doitte.png', alt='premio salmón')
              .ban-col-xs-8.ban-col-xs-offset-1
                h4 Great Place to Work
                p Nuevamente entre las mejores empresas para trabajar según el ranking de GPTW.
            .premio-detalle.ban-row
              .ban-col-xs-3
                img.ban-img-responsive(src='assets/img/global.png', alt='premio salmón')
              .ban-col-xs-8.ban-col-xs-offset-1
                h4 Great Place to Work
                p Nuevamente entre las mejores empresas para trabajar según el ranking de GPTW.
            .premio-detalle.ban-row
              .ban-col-xs-3
                img.ban-img-responsive(src='assets/img/premio-salmon.png', alt='premio salmón')
              .ban-col-xs-8.ban-col-xs-offset-1
                h4 Great Place to Work
                p Nuevamente entre las mejores empresas para trabajar según el ranking de GPTW.
    section#research
      .ban-container
        .ban-row
          .ban-col-xs-4
            img(src='assets/img/logo-citivelocity.png', alt='logo citi velocity ')
            p
              | Accede a la más completa plataforma de Research, en un solo lugar,
              | con presencia en más de 1.000 ciudades y 160 países, con acceso a
              | análisis y videos de todos los productos y regiones de Citi.
            a(href='#')
              | Ver más 
              i.fa.fa-angle-right
          .ban-col-xs-5.ban-col-xs-offset-3
            p
              em Banchile Research
            h2
              | Infórmate al momento de 
              span tomar decisiones
            p Conoce nuestro departamento de estudios
            a(href='#')
              | Ver más 
              i.fa.fa-angle-right
    section#servicios
      .ban-container
        .ban-row
          h2
            | Nuestros 
            span Servicios
          .ban-col-xs-5
            .servicio-detalle.ban-row
              .ban-col-xs-3
                img.ban-img-responsive(src='assets/img/nuestros-servicios.png', alt='icono servicio')
              .ban-col-xs-8.ban-col-xs-offset-1
                h4 Más de 90 fondos mutuos
                p
                  | Alternativas de inversión que permite tanto a personas naturales como jurídicas, acceder a distintos mercados de una manera fácil, cómoda y conveniente.
                a(href='#')
                  | Ver más 
                  i.fa.fa-angle-right
          .ban-col-xs-5.ban-col-xs-offset-2
            .servicio-detalle.ban-row
              .ban-col-xs-3
                img.ban-img-responsive(src='assets/img/nuestros-servicios.png', alt='icono servicio')
              .ban-col-xs-8.ban-col-xs-offset-1
                h4 Más de 90 fondos mutuos
                p
                  | Alternativas de inversión que permite tanto a personas naturales como jurídicas, acceder a distintos mercados de una manera fácil, cómoda y conveniente.
                a(href='#')
                  | Ver más 
                  i.fa.fa-angle-right
          .clearfix
          .ban-col-xs-5
            .servicio-detalle.ban-row
              .ban-col-xs-3
                img.ban-img-responsive(src='assets/img/nuestros-servicios.png', alt='icono servicio')
              .ban-col-xs-8.ban-col-xs-offset-1
                h4 Más de 90 fondos mutuos
                p
                  | Alternativas de inversión que permite tanto a personas naturales como jurídicas, acceder a distintos mercados de una manera fácil, cómoda y conveniente.
                a(href='#')
                  | Ver más 
                  i.fa.fa-angle-right
          .ban-col-xs-5.ban-col-xs-offset-2
            .servicio-detalle.ban-row
              .ban-col-xs-3
                img.ban-img-responsive(src='assets/img/nuestros-servicios.png', alt='icono servicio')
              .ban-col-xs-8.ban-col-xs-offset-1
                h4 Más de 90 fondos mutuos
                p
                  | Alternativas de inversión que permite tanto a personas naturales como jurídicas, acceder a distintos mercados de una manera fácil, cómoda y conveniente.
                a(href='#')
                  | Ver más 
                  i.fa.fa-angle-right
    section#testimonios
      #carrusel-testimonios.ban-carousel.ban-slide(data-ban-ride='ban-carousel')
        .ban-carousel-inner(role='listbox')
          .ban-item.ban-active
            img.ban-img-responsive(height='', src='assets/img/bg-video.png', alt='Campaña item primero')
            .ban-carousel-caption
              h3 1 Titulo de la campaña
          .ban-item
            img.ban-img-responsive(src='assets/img/bg-video.png', alt='Campaña item segundo')
            .ban-carousel-caption
              h3 2 Titulo de la campaña
          .ban-item
            img.ban-img-responsive(src='assets/img/bg-video.png', alt='Campaña item tercero')
            .ban-carousel-caption
              h3 3 Titulo de la campaña
      #avatar.ban-container
        .ban-row
          .clientes.ban-col-xs-12
            a(data-ban-target='#carrusel-testimonios', data-ban-slide-to='0')
              img.ban-img-responsive(src='assets/img/cliente-01.png', alt='' )
            a(data-ban-target='#carrusel-testimonios', data-ban-slide-to='1')
              img.ban-img-responsive(src='assets/img/cliente-02.png', alt='')
            a(data-ban-target='#carrusel-testimonios', data-ban-slide-to='2')
              img.ban-img-responsive(src='assets/img/cliente-03.png', alt='')
          .ban-col-xs-12
            h2 Nuestros clientes hablan por nosotros
    #incorporate
      .ban-container
        .ban-row
          .ban-col-xs-5
            h2
              | ¿Quieres 
              span ser cliente
          .ban-col-xs-5.ban-col-xs-offset-2
            a(href='#') Incorporate aquí
